section{
  background-color: #FBFBFB;
min-height: 100vh;
}

.gg{
  background-color: var(--main-color);
}
.badge-bandage {
  background-color:var(--main-color);
  color: #fff;
  padding: 0.25rem 0.5rem;
  transform: rotate(-45deg);
  transform-origin: top left;
  border-radius: 0.25rem;
}
.badge-container {
  padding: 0.5rem;
}

.test {
  color:var(--main-color)
}
