.btn-oval{
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #36ccff;
    border: none;
    color: white;
    font-size: small;
  }
  h2{
    color: #36ccff;
  
  }  
  h4{
    color: #36ccff;
  
  }  
  section{
    background-color: #fbfbfb;
  min-height: 100vh;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .cardd h5{
    color: #36ccff;
  }
  .btn-search{
    background-color: var(--main-color);
    color: #3E4954;
    }