<body>
  <section id="subscribtion" class="main-bg main-padding">
    <div class="container">
       <h3 class="main-header">Company Plans</h3>

      <div class="row justify-content-center g-5">

        <div class="col-md-5 " >

      <div class="card fs-5 rounded-4 border-0" >

        <div class="card-body">
          <h5 class="card-title mb-3"> <span class="fs-2">£</span> annually plan</h5>
          <span class="fw-bold pb-5">11000 LE</span>
          <ul class="card-text list-unstyled mt-3">
            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">employee management</p>
            </li>

            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">full real estate managemet</p>
            </li>

            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">Payroll Processing</p>
            </li>

            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">Time and Attendance Tracking</p>
            </li>

            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">Recruitment and Applicant Tracking</p>
            </li>

            <li>
              <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
              <p class="d-inline-block">Employee Self-Service Portal</p>
            </li>

          </ul>
        </div>
        <button  class="pay-btn fs-3"  (click)="handlepaymentannually()">
          <i class="fa-brands fa-cc-visa me-2" ></i>
          choose plan</button>
      </div>

      </div>



          <div class="col-md-5 " >
            <div class="card fs-5 rounded-4 border-0" >

              <div class="card-body">
                <h5 class="card-title mb-3"> <span class="fs-2">£</span> monthly plan</h5>
                <span class="fw-bold pb-5">1000 LE</span>
                <ul class="card-text list-unstyled mt-3">
                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">employee management</p>
                  </li>

                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">full real estate managemet</p>
                  </li>

                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">Payroll Processing</p>
                  </li>

                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">Time and Attendance Tracking</p>
                  </li>

                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">Recruitment and Applicant Tracking</p>
                  </li>

                  <li>
                    <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                    <p class="d-inline-block">Employee Self-Service Portal</p>
                  </li>

                </ul>
              </div>
              <button  class="pay-btn fs-3" (click)="handlepaymentmonthly()">
                <i class="fa-brands fa-cc-visa me-2" ></i>
                choose plan</button>
            </div>
              </div>

      </div>
    </div>
    </section>

</body>
