<div class="container-fluid">
    <!-- side bar----------------- -->

<section class="row g-0">
    <div class="col-md-2">
      <section class="sidebar container-fluid ">
          <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
              <div class="row my-5 gap-3 ">
                  <div class="col-md-4 imgg">
                  <img src="./assets/images/Ellipse 5 (3).png" class="w-100 "  alt="">
      
                  </div>
                  <div class="col-md-8 mt-2 ms-3">
                  <h2 class="h5 text-black">AHMED</h2>
                  <span class="text-muted">ahmedgmail.com</span>
                  </div>
              </div>
              <ul class=" mt-2">
               <div class="dashboard">
                  <li><i class="fa-solid fa-chart-line px-3"></i><a routerLink="../home">Dashboard</a><i class="fa-solid fa-chevron-right px-3 fa-sm"></i></li><br>
               </div>
      
                  <div class="manage">
                      <li><i class="fa-solid fa-user-gear px-3"></i><a routerLink="../manage">Manage Users</a><i class="fa-solid fa-chevron-right px-2 fa-sm"></i></li>
                  </div>
                </ul>
          </div>
          </section>
    </div>
          <!-- end of side bar------- -->
      
          <!-- employee manage----- -->
          <div class="col-lg-10 ">
              <section class="employee py-2">
                <div class="input-container w-50 mx-auto ">
                <input type="search" class="form-control  mx-auto mt-2 d-inline"  placeholder="Can I Help You?" >
                <!-- <i class="fa-regular fa-bell " ></i> -->
                </div>
                <div class="container my-4 users">
                    <div class="row justify-content-between ">
        
                        <div class="col-lg-2">
                            <h2>USERS</h2>
                        </div>
                        <div class="col-lg-2 ">
                            <button class="btn btn-main">
                                New Customer+
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table text-center">
                  <thead>
                   <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Activities</th>
                   </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </section>
          </div>
  </section>
</div>
<!-- all -->
<!-- dnjk -->
<!-- dina -->