<section class="py-2">
  <h1 class="my-4 mx-3 fw-bold">Admin Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 1.png" alt="" />
            </h5>
            <p class="card-text">Total Attendence Yesterday</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalAttendanceYesterday }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="../../../assets/images/Group 3.png" alt="" />
            </h5>
            <p class="card-text">Total Leaves Approved</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalLeavesApproved }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 4.png" alt="" />
            </h5>
            <p class="card-text">Total Leaves Rejected</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalLeavesRejected }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 2.png" alt="" />
            </h5>
            <p class="card-text">Total Leaves Pending</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalLeavesPending }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="../../../assets/images/Group 4-1.png" alt="" />
            </h5>
            <p class="card-text">Done Payroll This Month</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.donePayrollThisMonth }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 1-1.png" alt="" />
            </h5>
            <p class="card-text">Done Payroll This Year</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.donePayrollThisYear }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 2-1.png" alt="" />
            </h5>
            <p class="card-text">Total Real Estates</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalRealEstates }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 3-1.png" alt="" />
            </h5>
            <p class="card-text">Total Sold Out Real Estates</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalsoldOutRealEstates }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 4-2.png" alt="" />
            </h5>
            <p class="card-text">Total Rented Real Estates</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalrentedRealEstates }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <img src="./assets/images/Group 4-3.png" alt="" />
            </h5>
            <p class="card-text">Total Employees</p>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ details.totalEmployees }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
