.add{
    background-color: #fbfbfb;
    min-height: 100vh;
  }
  input{
    border: 1px solid #858585;
  }
  .btn-oval{
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #36ccff;
    border: none;
    color: white;
    font-size: small;
  }
  .btn-arrow i{
     color: #7F7184;
  
  }
  