<div class = "container-fluid px-0">

<body data-bs-spy="scroll" data-bs-target="#navbar-example">

<!-- transparent-navbar mt-3 -->
  <nav id="navbar-example" class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container">
      <img src="../../../assets/images/Frame 12127.png" alt="">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link   text-white fs-5" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link   text-white fs-5" aria-current="page" href="#services">feature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="#photo1">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="#contact">contact</a>
          </li>




        </ul>

      </div>
    </div>
  </nav>



    <header id="home" class="container-fluid">
        <h5>REAL ESTATE EASE</h5>


        <div class="Frame-7">Our mission is to provide agencies with a cutting-edge Human Resource Management System (HRMS) SaaS solution that streamlines HR processes, fosters employee engagement, and ensures compliance. We are committed to delivering exceptional value through intuitive software, personalized support, and ongoing innovation, ultimately helping real estate agencies attract, retain, and develop top talent while driving operational efficiency.</div>

        <div class="d-flex mt-5">
          <button class=" btn-blue" routerLink="/signup" >ADMIN SIGN UP</button>
          <button class=" btn-blue " routerLink="/login">ADMIN LOGIN</button>
        </div>
        <div>
          <button class="mt-4 btn-emp" routerLink="/userLogin">EMPLOYEE LOGIN</button>
        </div>

    </header>


    <section id="services" class="main-bg main-padding">
      <div class="container">
         <h3 class="main-header">I want company feature</h3>

        <div class="row gy-4">
          <div class="col-md-4" >
      <div class="service text-center tester ">
        <img src="../../../assets/images/image 10.png" alt="">
        <h6> Easy to purchase</h6>
        <p>A complete set of tools to enable marketing teams to curate, personalize, contextualize, send, integrate and track campaigns - no coding required.</p>
      </div>
        </div>


        <div class="col-md-4" >
          <div class="service text-center bg-main test ">
            <img src="../../../assets/images/image 11.png" alt="">
            <h6 class="">Strategy</h6>
            <p>A complete set of tools to enable marketing teams to curate, personalize, contextualize, send, integrate and track campaigns - no coding required.</p>
          </div>
            </div>


            <div class="col-md-4" >
              <div class="service text-center tester">
                <img src="../../../assets/images/image 10 (1).png" alt="">
                <h6>Agency Web</h6>
                <p>A complete set of tools to enable marketing teams to curate, personalize, contextualize, send, integrate and track campaigns - no coding required.</p>
              </div>
                </div>






        </div>
      </div>
      </section>



<section id="photo1" class="photo">
  <h3 class="main-header text-white">About Us</h3>
  <div class="Frame-7  w-75 mx-auto">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessaryc.</div>
  <!--main-padding  -->
  <section id="stat" class="pt-5">

    <div class="container">

     <div class="row ">
      <div class="col-md-4">
        <div class="stat-box text-center">
          <i class="fa-solid fa-person-circle-check fs-1 mb-3" ></i>
          <h3 class="fs-2 fw-bolder">1000</h3>
          <p class="text-white fw-bold">numper of clients</p>
        </div>


       </div>

       <div class="col-md-4">
        <div class="stat-box text-center">
          <i class="fa-solid fa-users-gear fs-1 mb-3" ></i>
          <h3 class="fs-2 fw-bolder">900</h3>
          <p class="text-white fw-bold">successful hires</p>
        </div>


       </div>

       <div class="col-md-4">
        <div class="stat-box text-center">
          <i class="fa-solid fa-building-lock fs-1 mb-3" ></i>
          <h3 class="fs-2 fw-bolder">2000</h3>
          <p class="text-white fw-bold">level of security</p>
        </div>


       </div>
<!--
       <div class="col-md-3">
        <div class="stat-box text-center">
          <i class="fa-solid fa-users fs-1 mb-4"></i>
          <h3 class="fs-2 fw-bolder">850</h3>
          <p class="text-muted fw-bold">Happy Customers</p>
        </div>


       </div> -->

     </div>

    </div>

  </section>
</section>





<!-- <section id="subscribtion" class="main-bg main-padding">
  <div class="container">
     <h3 class="main-header">I want company feature</h3>

    <div class="row justify-content-center g-5">

      <div class="col-md-5 " >

    <div class="card fs-5 rounded-4 border-0" >

      <div class="card-body">
        <h5 class="card-title mb-3"> <span class="fs-2">£</span> annually plan</h5>
        <span class="fw-bold pb-5">11000 LE</span>
        <ul class="card-text list-unstyled mt-3">
          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">employee management</p>
          </li>

          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">full real estate managemet</p>
          </li>

          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">Payroll Processing</p>
          </li>

          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">Time and Attendance Tracking</p>
          </li>

          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">Recruitment and Applicant Tracking</p>
          </li>

          <li>
            <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
            <p class="d-inline-block">Employee Self-Service Portal</p>
          </li>

        </ul>
        <button  class="pay-btn fs-3"  (click)="handlepaymentannually()">
          <i class="fa-brands fa-cc-visa me-2" ></i>
          choose plan</button>
      </div>
    </div>

    </div>





        <div class="col-md-5 " >
          <div class="card fs-5 rounded-4 border-0" >

            <div class="card-body">
              <h5 class="card-title mb-3"> <span class="fs-2">£</span> monthly plan</h5>
              <span class="fw-bold pb-5">1000 LE</span>
              <ul class="card-text list-unstyled mt-3">
                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">employee management</p>
                </li>

                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">full real estate managemet</p>
                </li>

                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">Payroll Processing</p>
                </li>

                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">Time and Attendance Tracking</p>
                </li>

                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">Recruitment and Applicant Tracking</p>
                </li>

                <li>
                  <i class="fa-solid fa-circle-check d-inline-block me-2" style="color: #74C0FC;"></i>
                  <p class="d-inline-block">Employee Self-Service Portal</p>
                </li>

              </ul>
              <button  class="pay-btn fs-3" (click)="handlepaymentmonthly()">
                <i class="fa-brands fa-cc-visa me-2" ></i>
                choose plan</button>
            </div>
          </div>
            </div>






    </div>
  </div>
  </section> -->




<!--  -->
  <section id="contact" class="main-padding">
    <h3 class="main-header">Contact Us</h3>
    <div class="container  ">
     <div class="row mb-5">
       <div class="col-md-4">
         <div class="contact-box text-center">
          <i class="fa-solid fa-location-dot"></i>
           <h6>Address</h6>
           <p class="text-muted">Bis zamalek, 42 abo elfedda street</p>
         </div>
       </div>



       <div class="col-md-4">
         <div class="contact-box text-center">
          <i class="fa-solid fa-envelope" ></i>
           <h6>email</h6>
           <p class="text-muted" [innerHTML]="email"></p>
         </div>
       </div>



       <div class="col-md-4">
         <div class="contact-box text-center">
          <i class="fa-solid fa-phone" ></i>
           <h6>phone</h6>
           <p class="text-muted">+021234557</p>
         </div>
       </div>



     </div>





    </div>
   </section>



  <footer>
    <p>Copy Right 2024 © By realestate All Rights Reserved</p>
  </footer>






<!-- <button  class="btn-main"  (click)="handlepaymentannually()">annually </button>



<button class="btn-main" (click)="handlepaymentmonthly()">monthly</button> -->


