<!-- navbar navbar-expand-lg navbar-light bg-light flex-column -->
<nav class="navvv">
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 flex-column mb-5">
    <!-- <h3 class=" aa mb-2 h4">Admin Panel</h3> -->

    <div class="header-nav d-flex flex-column w-100 mb-0">
      <div class="text-center mb-1 my-4">
        <img
          class="image"
          src="../../../assets/images/image.png"
          style="
            border-radius: 45%;
            background-image: linear-gradient(to right, white, #36ccff);
            width: 40%;
          "
          alt=""
        />
      </div>
      <p class="h5 text-center my-3" style="color: #36ccff">
        Welcome Employee,
      </p>
      <p class="h5 text-black text-center">{{ userInfo.userName }}</p>
    </div>
    <hr
      class="border border-primary border-2 opacity-25 w-50 mb-2"
      style="border-color: #36ccff !important"
    />
    <ul class="navbar-nav d-flex">
      <li class="nav-item py-1">
        <a
          class="nav-link"
          [routerLink]="['/userLayout/dashboarduser']"
          routerLinkActive="active-link"
          ><i class="fa-solid fa-chart-line px-2 fs-6"></i>Dashboard</a>
      </li>
      <li class="nav-item py-1">
        <a
          class="nav-link"
          [routerLink]="['/userLayout/usermanagere']"
          routerLinkActive="active-link"
          ><i class="fa-solid fa-house-chimney-window fs-6 px-2"></i>Assigned RE</a>
      </li>
      <li class="nav-item py-1">
        <a
          class="nav-link"
          [routerLink]="['/userLayout/takeatt']"
          routerLinkActive="active-link"
          ><i class="fa-solid fa-clipboard-user px-2 fs-6"></i>Take Attendence</a>
      </li>
      <li class="nav-item py-1">
        <a
          class="nav-link"
          [routerLink]="['/userLayout/leaveReq']"
          routerLinkActive="active-link"
          ><i class="fa-solid fa-person-walking px-2 fs-6"></i>Leave Request</a>
      </li>
      <li class="nav-item py-1">
        <a
          class="nav-link"
          [routerLink]="['/userLayout/userPayroll']"
          routerLinkActive="active-link"
          ><i class="fa-solid fa-sack-dollar px-2 fs-6"></i>Payroll</a>
      </li>
      <li class="nav-item py-1">
        <a class="nav-link" [routerLink]="['/home']" (click)="deleteItem()"
          ><i class="fa fa-sign-out px-2 fs-6" aria-hidden="true"></i>Log Out</a
        >
      </li>
    </ul>
  </div>
</nav>
