<section class="py-2">
  <h1 class="my-3 mx-2 px-4 fw-bold h2">Take Attendance</h1>
  <div class="my-4 mx-4">
    <div class="mx-5 px-5">
      <button class="btn btn-in py-2" (click)="clockIn()">
        <i class="fa-regular fa-sun px-2"></i>Clock-in
      </button>
      <button class="btn btn-out py-2 ms-3" (click)="clockOut()">
        <i class="fa-solid fa-moon px-2 fs-5"></i>Clock-out
      </button>
    </div>
    <div class="Rectangle-2234 p-3 mx-5" *ngIf="message">
      <span> <i class="fa-solid fa-reply px-2"></i> {{ message }}</span>
    </div>
    <h2 class="fw-bolder mx-2 my-5">Employee Information</h2>
    <div class="my-5 w-50 mx-5 px-5">
      <h6 class="my-4">
        <i class="fa-solid fa-id-badge px-2"></i>ID:<span
          class="mx-2 text-black"
          >{{ userInfo.userId }}</span
        >
      </h6>
      <hr />
      <h6 class="my-4">
        <i class="fa-solid fa-file-signature px-2"></i>Name:
        <span class="mx-2 text-black">{{ userInfo.userName }}</span>
      </h6>
      <hr />
      <h6 class="my-4">
        <i class="fa-solid fa-envelope px-2"></i>Email:<span
          class="mx-2 text-black"
          >{{ userInfo.email }}</span
        >
      </h6>
      <hr />


      <h6 class="my-4">
        <i class="fa-solid fa-user-tie px-2"></i>Position:<span
          class="mx-2 text-black"
          >{{ userInfo.userposition }}</span
        >
      </h6>
      <hr />
      <h6 class="my-4">
        <i class="fa-solid fa-dollar-sign px-2"></i>Basic Salary:<span
          class="mx-2 text-black"
          >{{ userInfo.userSalary }}</span
        >
      </h6>
    </div>
  </div>
</section>
