<section class="py-2">
  <h1 class="my-3 mx-4 fw-bold h2">Take Attendance</h1>
  <div class="ms-5 ps-5 my-4">
    <button class="btn btn-in py-2" (click)="clockIn()">
      <i class="fa-regular fa-sun px-2"></i>Clock-in
    </button>
    <button class="btn btn-out py-2 ms-3" (click)="clockOut()">
      <i class="fa-solid fa-moon px-2 fs-5"></i>Clock-out
    </button>
    <div class="Rectangle-2234 p-3  " *ngIf="message">

      <span> <i class="fa-solid fa-reply px-2"></i>  {{message}}</span>
    </div>
  </div>
  <h2 class="mx-4 fw-bold h3 my-2">Apply Leave Request</h2>
  <div>
    <form
      class="w-50 mx-auto fw-bold"
      [formGroup]="userForm"
      (ngSubmit)="handleForm()"
    >
      <div class="px-5 pb-2">
        <label for="leave" class="mb-1">Leave Type</label>
        <input
          formControlName="leaveType"
          class="form-control py-2"
          id="leave"
          type="text"
        />
      </div>
      <div class="px-5 pb-2">
        <label for="start" class="mb-1">Start Date</label>
        <input
          formControlName="startDate"
          class="form-control py-2"
          id="start"
          type="date"
        />
      </div>
      <div class="px-5 pb-2">
        <label for="end" class="mb-1">End Date</label>
        <input
          formControlName="endDate"
          class="form-control py-2"
          id="end"
          type="date"
        />
      </div>
      <div class="px-5 pb-2">
        <label for="desc" class="mb-1">Description</label>
        <input
          formControlName="description"
          class="form-control py-2"
          id="desc"
          type="text"
        />
      </div>
      <div class="d-flex justify-content-end">
        <button
          [disabled]="userForm.invalid"
          class="btn btn-oval py-2 me-5 mt-4 text-uppercase"
        >
          Request
        </button>
      </div>
    </form>
  </div>
</section>
