<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1 class="text-main text-center">login</h1>


    <form [formGroup]="loginform" (ngSubmit)="handleform( )">
  




      <div class="mb-2">
        <label for="email">email:</label>
        <input #inputemail formControlName="email" type="text" id="email" class="form-control">
      </div>


      
<div class="alert alert-danger" *ngIf="loginform.get('email')?.errors && (loginform.get('email')?.touched||inputemail.value.length>0)">

  <p *ngIf="loginform.get('email')?.getError('required')">
      email is required 
  </p>

  <p *ngIf="loginform.get('email')?.getError('email')">
    email is invalid
  </p>
</div>


      <div class="mb-2">
        <label for="password">password:</label>
        <input #inputpassword formControlName="password" type="text" id="password" class="form-control">
      </div>


      <div class="alert alert-danger" *ngIf="loginform.get('password')?.errors && (loginform.get('password')?.touched||inputpassword.value.length>0)">

        <p *ngIf="loginform.get('password')?.getError('required')">
            password is required 
        </p>
      
        <p *ngIf="loginform.get('password')?.getError('pattern')">
          password is invalid
        </p>
      </div>

   

 

      <button [disabled]="loginform.invalid" class="btn-main mx-auto d-block">continue
      <i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
      </button>
      <p *ngIf="msgerror" class="alert alert-danger">{{msgerror}}</p>   


    </form>
 
</section>
