body{
  background-image: url('../../../assets/images/home.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;

}
.btn-oval{
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #36ccff;
  border: none;
  color: white;
  font-size: small;
}
