

/* ul{
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #7f7184;

} */
a{
  text-decoration: none;
  color: inherit;
}
.manage{
  color: #36ccff;
}
.dashboard{
  color: #7f7184;
}
.employee{
  background-color: #fbfbfb;
  min-height: 100vh;
}
:placeholder-shown{
color: #c4c4c4;
font-size: large;
}
.input-container {
position: relative;
}

.input-container input[type="text"] {
padding-left: 30px; /* Adjust as needed based on the width of your icon */
}

.input-container .icon {
position: absolute;
left: 10px; /* Adjust to position the icon */
top: 50%;
transform: translateY(-50%);
}
.users h2{
color: #3e4954;
font-weight: bold;

}
.manage-i{
color: #3E4954;

}
.manage-i a{
color: #3E4954;

}
.btn-main{
border: none;

}
input{
border: none;

}
.btn-search{
background-color: var(--main-color);
color: #3E4954;
}
