
                <section class="employee py-2">
                      <h1 class="text-center fw-bold my-3">Admin Panel</h1>
                  <div class="input-container w-50 mx-auto ">
                      <div class="d-flex mt-4">
                              <input (input)="onSearchInput()" [(ngModel)]="userData" type="search" class="form-control  mx-auto  py-2 "  placeholder="Can I Help You? " >
                              <button class="btn btn-search d-flex justify-content-center align-items-center text-white"  (click)="handleForm()"> <i class="fa-solid fa-magnifying-glass fs-7 px-2 my-1" ></i>Search</button>
                      </div>
                  <!-- <i class="fa-regular fa-bell " ></i> -->
                  </div>
                  <div class="container my-4 users">
                      <div class="row justify-content-between ">

                          <div class="col-md-2">
                              <h2>USERS</h2>
                          </div>
                          <div class="col-md-2 ">
                              <button class="btn btn-main" routerLink="/adduser">
                                <i class="fa-solid fa-user-plus fs-7 px-2 my-1" ></i>Add User
                              </button>
                          </div>
                      </div>
                  </div>
                  <table class="table text-center px-3">
                    <thead>
                     <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Company_Name</th>
                      <th>Position</th>
                      <th>Salary</th>
                      <th>Activities</th>
                     </tr>
                    </thead>
                    <tbody >
                      <tr  *ngFor="let employee of employeeData " >

                          <td>{{employee.id}}</td>
                          <td>{{employee.name}} </td>
                          <td>{{employee.email}}</td>
                          <td>{{employee.company_name}}</td>
                          <td>{{employee.position}}</td>
                          <td>{{employee.salary}}</td>

                          <td class="d-flex justify-content-evenly manage-i">
                            <div>
                              <i class="fa-regular fa-pen-to-square px-2"></i><a [routerLink]="['/edituser/', employee.id]">Edit</a>
                            </div>
                          <div><i class="fa-solid fa-trash-can px-2"></i><a href="systemlayout/adminmanageusers" (click)="deleteEmployee(employee.id)">Delete</a></div>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </section>

