

/* ul{
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #7f7184;

} */
h2{
  color: #36ccff;
}
a{
  text-decoration: none;
  color: inherit;
}
.manage{
  color: #36ccff;
}
.dashboard{
  color: #7f7184;
}
.employee{
  background-color: #fbfbfb;
  min-height: 100vh;
}



.manage-i{
color: #3E4954;

}
.manage-i a{
color: #3E4954;

}
.btn-main{
border: none;

}

.btn-search{
background-color: var(--main-color);
color: #3E4954;
}
h1{
  color:var(--main-color) ;
}
