<section class="py-2">
  <h1 class="my-3 mx-2 fw-bold">Generate Payrolls</h1>
  <form [formGroup]="userForm" (ngSubmit)="generateForm()">
    <div class="my-2 row mx-3 w-75">
      <div class="col-md-2">
        <input
          type="text"
          class="form-control py-2 text-center"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="col-md-2">
        <input
          type="text"
          class="form-control py-2 text-center"
          placeholder="Month"
          formControlName="month"
        />
      </div>
      <div class="col-md-2">
        <input
          type="text"
          class="form-control py-2 text-center"
          placeholder="Year"
          formControlName="year"
        />
      </div>

      <div class="col-md-2">
        <input
          type="text"
          class="form-control py-2"
          placeholder="Allowance"
          formControlName="allowance"
        />
      </div>
      <div class="col-md-2">
        <input
          type="text"
          class="form-control py-2 text-center"
          placeholder="Deduction"
          formControlName="deduction"
        />
      </div>
      <div class="col-md-2">
        <button class="btn btn-main">Generate</button>
      </div>
    </div>
  </form>

  <h2 class="mt-5 mb-3 fw-bold mx-2">Payrolls</h2>
  <div class="my-2 row mx-3 justify-content-center">
    <div class="col-md-1">
      <input
        type="text"
        class="form-control py-2 text-center"
        placeholder="Status"
        [(ngModel)]="status"
        (input)="onSearchInput()"
      />
    </div>
    <div class="col-md-1">
      <input
        type="text"
        class="form-control py-2 text-center"
        placeholder="Name"
        [(ngModel)]="name"
        (input)="onSearchInput()"
      />
    </div>
    <div class="col-md-1">
      <input
        type="text"
        class="form-control py-2 text-center"
        placeholder="Month"
        [(ngModel)]="month"
        (input)="onSearchInput()"
      />
    </div>
    <div class="col-md-1">
      <input
        type="text"
        class="form-control py-2 text-center"
        placeholder="Year"
        [(ngModel)]="year"
        (input)="onSearchInput()"
      />
    </div>

    <div class="col-md-4">
      <button class="btn btn-search me-auto text-white" (click)="handleForm()">
        <i class="fa-solid fa-magnifying-glass fs-7 px-2 my-1"></i>Search
      </button>
    </div>
  </div>

  <table class="table text-center my-4 mx-2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Basic</th>
        <th>Allowance</th>
        <th>Deduction</th>
        <th>Total</th>
        <th>Month</th>
        <th>Year</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payrolls">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.basic }}</td>
        <td>{{ item.allowance }}</td>
        <td>{{ item.deduction }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.month }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.status }}</td>
        <td>
          <button class="btn text-info" (click)="getPay(item.id)">
            <i class="fa-solid fa-file-invoice-dollar mx-1 fs-6"></i>Pay
          </button>
          <button class="btn" (click)="delete(item.id)">
            <i class="fa-regular fa-trash-can mx-1 fs-6"></i>Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
