<!-- <button (click)="navigateToAddRe()" class="btn btn-main ms-auto">
  <i class="fa-solid fa-user-plus"></i> Add Real Estate
</button> -->

<section>
  <div class="d-flex align-items-center my-4 justify-content-center">
    <input type="search" class="form-control w-25 mx-4 my-3 " placeholder="Search..." (input)="onSearchInput()" [(ngModel)]="searchNew" />
    <button (click)="handleForm()" class="btn btn-search btn-main mx-2 bb"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
  </div>


  <div class="container my-4 users">
  <div class="row justify-content-between">
    <div class="col-md-5">
      <h2 class="fw-bolder bb test">All RE</h2>
    </div>
    <div class="col-md-3">
      <button (click)="navigateToAddRe()" class="btn btn-main ms-auto">
        <i class="fa-solid fa-user-plus fs-7 px-2 my-1"></i>Add Real Estate
      </button>
    </div>
  </div>
</div>

  <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
    <div class="col" *ngFor="let item of  RE">
      <div class="card rounded-5 position-relative h-100">
        <div class="card-img-top position-relative">
          <div class="position-absolute top-0 start-0 m-2">
            <span class="badge gg text-white fs-5">{{ item .price }} EGP</span>
          </div>
          <img src="./assets/images/re.jpg" class="card-img-top rounded-3 w-100" alt="...">
          <div class="dropdown position-absolute top-0 end-0 m-2">
            <button class="btn p-0 border-0 bg-transparent text-white" type="button" data-bs-toggle="dropdown"
              aria-expanded="false" aria-label="Toggle dropdown">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu ">
              <li class="d-flex align-items-center cursor-pointer">
                <i class="fa-regular fa-pen-to-square mx-2"></i><a [routerLink]="['/systemlayout/editre',item.id]"
                  class="dropdown-item">Edit</a>
              </li>
              <li class="d-flex align-items-center cursor-pointer">
                <i class="fa-solid fa-trash-can mx-2  "></i><a (click)="delete(item.id)"
                  class="dropdown-item">Delete</a>
              </li>
              <li class="d-flex align-items-center cursor-pointer py-2">
                <i class="fa-solid fa-circle-info mx-2 text-muted"></i>
                <a class="text-decoration-none text-black" [routerLink]="['../../viewDoc',item.id]">
                 View Details</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="mb-1 text-muted">ID</p>
              <p class="mb-1 text-muted">Owner</p>
              <p class="mb-1 text-muted">Type</p>
              <p class="mb-1 text-muted">Address</p>
              <p class="mb-1 text-muted">Size</p>
              <p class="mb-1 text-muted">Status</p>
              <p class="mb-1 text-muted">Assigned To</p>
            </div>
            <div class="col-6">
              <p class="mb-1 fw-bold">{{ item.id }}</p>
              <p class="mb-1 fw-bold">{{ item.owner }}</p>
              <p class="mb-1 fw-bold">{{ item.type }}</p>
              <p class="mb-1 fw-bold">{{ item.address }}</p>
              <p class="mb-1 fw-bold">{{ item.size }} <span>m</span></p>
              <p class="mb-1 fw-bold">{{ item.status }}</p>
              <p class="mb-1 fw-bold">{{ item.assigned_to }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


