<body class="add py-1">
  <section >
 <form [formGroup]="userForm" (ngSubmit)="handleForm()" class="w-50 mx-auto bg-white mt-5 rounded pb-5 fw-bold">

      <div class="">

      <h2 class="text-main text-center pt-5 fw-bold">Add User</h2>
      <button class=" btn btn-arrow" routerLink="/systemlayout/adminmanageusers"><i class="fa-solid fa-arrow-left fw-bold fs-2"></i></button>
      </div>
  <div class="px-5 pb-2 " >
      <label for="name">Name</label>
      <input formControlName="name" class="form-control py-2" id="name" type="text">
  </div>
  <div class="px-5 py-2">
      <label for="email">Email</label>
      <input formControlName="email" class="form-control py-2" id="email" type="email">
  </div>
  <div class="px-5 py-2">
      <label for="password">password</label>
      <input formControlName="password" class="form-control py-2" id="password" type="password">
  </div>
  <div class="px-5 py-2">
      <label for="position">Position</label>
      <input formControlName="position" class="form-control py-2" id="position" type="text">
  </div>
  <div class="px-5 py-2 ">
      <label for="sal">Salary</label>
      <input formControlName="salary" class="form-control py-2" id="sal" type="tel">
  </div>
 <div class="d-flex justify-content-end">

<!-- <button  class="btn  btn-oval  py-2 me-5 mt-4 text-uppercase" (click)="handleForm()" >add</button> -->
<button [disabled]="userForm.invalid"  class="btn  btn-oval  py-2 me-5 mt-4 text-uppercase">add</button>
 </div>
 </form>
  </section>
</body>
