
.navbar {
  flex-direction: column;
  height: 100vh;
}

.navbar-toggler {
  order: 1;
  align-self: flex-end;
}

.collapse.navbar-collapse {
  order: 2;
  flex-grow: 1;
}

.navbar-nav {
  flex-direction: column;
  width: 100%;
}

.nav-item {
  width: 100%;
}

@media (max-width: 991.98px) {
  .navbar {
    height: auto; /* Reset the height for smaller screens */
  }

  .collapse.navbar-collapse {
    order: 3; /* Move the collapse to the end */
  }
}



