<section class="py-2">
  <!-- search -->
  <div class="row justify-content-center my-4">
    <div class="col-md-2">
      <input
        class="form-control py-2 border-black"
        type="search"
        placeholder="Month"
        [(ngModel)]="month"
        (input)="onSearchInput()"
      />
    </div>
    <div class="col-md-2">
      <input
        class="form-control py-2 border-black"
        type="search"
        placeholder="Year"
        [(ngModel)]="year"
        (input)="onSearchInput()"
      />
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-search text-white py-2 px-3"
        (click)="handleForm()"
      >
        <i class="fa-solid fa-magnifying-glass fs-7 px-2 my-1"></i>Search
      </button>
    </div>
  </div>

  <!-- body -->

  <h1 class="my-5 pt-3 fw-bold mx-2">Payrolls</h1>
  <table class="table w-75 py-4 text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Month</th>
        <th>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payrolls">
        <td>{{ item.id }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.month }}</td>
        <td>{{ item.year }}</td>
        <td>
          <i class="fa-regular fa-pen-to-square fs-6 mx-2"></i
          ><a
            class="text-black text-decoration-none"
            [routerLink]="['../../userPayslip', item.id]"
            >Payslip</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
